<div class="panel">
  <div class="container">
    <div class="row heading">
      <img class="avatar" src="" alt="" />
      <div class="column">
        <h3>Company</h3>
        <h4>Description</h4>
        <time>1 sem</time>
      </div>
    </div>

    <img class="post-image" src="" alt="" />

    <div class="row likes">
      <span class="circle blue"></span>
      <span class="circle green"></span>
      <span class="circle red"></span>
      <span class="number">49</span>
    </div>

    <div class="row">
      <div class="separator"></div>
    </div>

    <div class="row actions">
      <button>
        <i>Like</i>
        <span>Gostei</span>
      </button>
      <button>
        <i>Comment</i>
        <span>Comentar</span>
      </button>
      <button>
        <i>Share</i>
        <span>Enviar</span>
      </button>
    </div>
  </div>
</div>
