<div class="panel">
  <div class="container">
    <div class="profile-cover">
      <img src="" alt="Avatar" class="profile-picture" />
      <h1>Username</h1>
      <h2>Description</h2>

      <div class="separator"></div>

      <div class="key-value">
        <span class="key">Quem viu seu perfil</span>
        <span class="value">1.000</span>
      </div>

      <div class="key-value">
        <span class="key">Viram sua publicação</span>
        <span class="value">300</span>
      </div>
    </div>
  </div>
</div>
