<header class="container">
  <div class="wrapper">
    <div class="left">
      <i class="linkedin-icon">Linkedin</i>
      <input type="text" class="search-input" placeholder="Pesquisar" />
    </div>

    <div class="right">
      <nav>
        <button class="active">
          <i>Home</i>
          <span>Inicio</span>
        </button>

        <button>
          <i>Notifications</i>
          <span>Notificações</span>
        </button>

        <button>
          <img class="profile-circle" src="" alt="" />
          <span>Eu <i class="caret-down-icon">CaretDown</i></span>
        </button>
      </nav>
    </div>
  </div>
</header>
