<div class="container">
  <div class="row">
    <div class="skeleton square-skeleton white">
      <div class="column">
        <div class="skeleton row-skeleton white"></div>
        <div class="skeleton row-skeleton white"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="skeleton square-skeleton white">
      <div class="column">
        <div class="skeleton row-skeleton white"></div>
        <div class="skeleton row-skeleton white"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="skeleton square-skeleton white">
      <div class="column">
        <div class="skeleton row-skeleton white"></div>
        <div class="skeleton row-skeleton white"></div>
      </div>
    </div>
  </div>
</div>
