.container .row + .row {
  margin-top: 23px;
}

.container .row {
  display: flex;
  align-items: center;
}

.container .row .square-skeleton {
  width: 48px;
  height: 48px;
  border-radius: 2px;
}

.container .row .column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}

.container .row .column .row-skeleton {
  height: 12px;
}

.container .row .column .row-skeleton:nth-child(1) {
  width: 50%;
}

.container .row .column .row-skeleton:nth-child(2) {
  width: 100%;
  margin-top: 10px;
}
