<div class="container">
  <div class="panel">
    <span class="title">Assuntos mais discutidos</span>
    <ul>
      <li>
        <span class="bullet"></span>
        <span class="news">
          <span class="head">Bootcamp da Rocketseat</span>
          <span class="subtext">há 1 d • 316 leitores</span>
        </span>
      </li>

      <li>
        <span class="bullet"></span>
        <span class="news">
          <span class="head">Bootcamp da Rocketseat</span>
          <span class="subtext">há 1 d • 316 leitores</span>
        </span>
      </li>
    </ul>
  </div>
</div>
