.container {
  width: 100%;
  height: 100%;
}

.container > span {
  margin-top: 48px;
  display: flex;
}

.left-column,
.right-column,
.ad-banner {
  display: none;
}

@media (min-width: 1180px) {
  .container > main {
    margin: 0 30px;
    display: flex;
    justify-content: center;
  }

  .container > span {
    margin-top: 52px;
    padding: 8px 0;
  }

  .left-column,
  .right-column,
  .ad-banner {
    display: unset;
  }

  .middle-column {
    margin: 0 25px 16px;
  }
}
