<div class="container">
  <div *ngIf="isLoading">
    <app-loading-feed-share></app-loading-feed-share>
    <app-loading-feed-post></app-loading-feed-post>
    <app-loading-feed-post></app-loading-feed-post>
    <app-loading-feed-post></app-loading-feed-post>
    <app-loading-feed-post></app-loading-feed-post>
  </div>
  <div *ngIf="!isLoading">
    <app-feed-share></app-feed-share>
    <app-feed-post></app-feed-post>
    <app-feed-post></app-feed-post>
    <app-feed-post></app-feed-post>
    <app-feed-post></app-feed-post>
  </div>
</div>
