* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: var(--color-background);
}

*,
button,
input {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
}

:root {
  --color-header: #283e4a;
  --color-linkedin: #0077b5;
  --color-input: #e1e9ee;
  --color-icons: #c7d1d8;
  --color-hashtag: #7a8b98;
  --color-background: #f5f5f5;
  --color-ad-text: #434649;
  --color-panel: #fff;
  --color-link: #0073b1;
  --color-black: rgba(0, 0, 0, 0.9);
  --color-gray: rgba(0, 0, 0, 0.6);
  --color-separator: rgba(0, 0, 0, 0.15);
  --color-white: #fff;
}

.skeleton {
  background-image: linear-gradient(
    -90deg,
    #e7edf1 0%,
    #f8f8f8 50%,
    #e7edf1 100%
  );
  background-size: 400% 400%;
  animation: shimmer 1.2 ease-in-out infinite;
}

.skeleton .white {
  background-image: linear-gradient(
    -90deg,
    #ffffff 0%,
    #e7edf1 50%,
    #ffffff 100%
  );
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
